@use '../../../styles/foundation' as *;
@use '../../../styles/chess/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/components' as *;

.chessboard {
  @include chess-grid;
  touch-action: none;
}

.modal {
  @include modal-overlay;

  &__body {
    @include modal-body;
    background: $modal-overlay;

    > img {
      padding: $spacing-md;

      &:hover {
        background-color: $modal-hover;
        border-radius: $border-radius-full;
        @include clickable;
      }
    }

    > .checkmate__body {
      @include flex-column;
      gap: $spacing-xl;
      @include responsive(md) {
        gap: $spacing-lg;
      }

      > span {
        font-size: $font-size-xl;
        @include responsive(md) {
          gap: $spacing-lg;
        }
      }

      > button {
        @include button-base;
      }
    }
  }
}

.modal.hidden {
  display: none;
}