@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.chessboard {
  @include chess-grid;
  background-color: rgb(184, 184, 246);
  touch-action: none;
}

.modal {
  @include modal-overlay;

  &__body {
    @include modal-body;
    background: $modal-overlay;

    > img {
      padding: $spacing-md;

      &:hover {
        background-color: $modal-hover;
        border-radius: $border-radius-full;
        @include clickable;
      }
    }

    > .checkmate__body {
      @include flex-column;
      gap: $spacing-xl;

      > span {
        font-size: $font-size-xl;
      }

      > button {
        @include button-base;
      }
    }
  }
}

.modal.hidden {
  display: none;
}