@use '../foundation/variables' as *;
@use '../mixins/interaction' as *;

@mixin button-base {
  background-color: $button-primary;
  color: $button-text;
  border: none;
  border-radius: $border-radius-md;
  padding: $spacing-md $spacing-xl;
  font-size: $font-size-lg;
  letter-spacing: 0.03em;

  @include clickable;
}
