// Z-INDEX
$z-modal: 1000;
$z-tile-image: 20;
$z-tile-highlight: 10;

// BORDER RADIUS
$border-radius-sm: 0.5rem;
$border-radius-full: 50%;

// FONT SIZES
$font-size-sm: 0.85rem;
$font-size-base: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;

// SPACING
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 3rem;
$spacing-xxl: 6rem;

// BUTTON
$button-primary: #779556;
$button-text: white;