.tile {
  display: grid;
  place-items: center;
  width: 6.25rem;
  height: 6.25rem;
  &__blackTile {
    background-color: #779556;
  }
  &__whiteTile {
    background-color: #ebecd0;
  }
  &__image {
    width: 6.25rem;
    height: 6.25rem;
    background-size: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
      cursor: grab;
    }
    &:active {
      cursor: grabbing;
    }
  }
  &__highlight::before {
    content: " ";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.4);
  }
}