@use '../../../styles/chess' as *;
@use '../../../styles/foundation' as *;
@use '../../../styles/mixins' as *;

.tile {
  @include tile-base;

  &__blackTile {
    background-color: $chess-dark-square;
  }

  &__whiteTile {
    background-color: $chess-light-square;
  }

  &__image {
    width: 100%;
    background-size: $piece-size;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.25));

    @include grab-cursor;

    @include responsive(md) {
      background-size: 80%;
    }
  }

  &__highlight:not(.tile__pieceImage) {
    @include tile-highlight;
  }
  &__check {
    outline: 2px solid rgb(242, 90, 90);
  }
}