@use '../../../styles/chess/variables' as *;
@use '../../../styles/chess' as *;

.tile {
  @include tile-base;

  &__blackTile {
    background-color: $chess-dark-square;
  }

  &__whiteTile {
    background-color: $chess-light-square;
  }

  &__image {
    @include chess-piece;
  }

  &__highlight:not(.tile__pieceImage) {
    @include tile-highlight;
  }
}