@use '../chess/variables' as *;
@use './responsive' as *;

@mixin chess-grid {
  display: grid;
  grid-template-columns: repeat($chess-grid-columns, 1fr);
  grid-template-rows: repeat($chess-grid-rows, 1fr);
  position: relative;
  @include responsive(md) {
    width: 90vw;
    height: 90vw;
    max-width: 36rem;
    max-height: 36rem;
  }
}