@use 'sass:map';
@use "../foundation/breakpoints" as *;

@mixin responsive($size) {
  $breakpoint: map.get($breakpoints, $size);

  @if $breakpoint {
    @media (max-width: $breakpoint) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint: #{$size}";
  }
}