@use './variables' as *;
@use '../foundation/variables' as *;
@use '../mixins' as *;

@mixin chess-piece {
  width: 100%;
  background-size: $piece-size;
  background-position: center;
  background-repeat: no-repeat;
  z-index: $z-tile-image;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.25));

  @include grab-cursor;

  @include responsive(md) {
    background-size: 80%;
  }
}