@use './variables' as *;
@use '../foundation/variables' as *;
@use '../mixins' as *;

@mixin tile-base {
  @include flex-center;
  width: $tile-size;
  height: $tile-size;
  position: relative;
  border-radius: 0.4rem;
  transition: background-color 0.2s ease;
  @include responsive(md) {
    width: 100%;
    height: 100%;
    border-radius: $border-radius-sm;
  }
}

@mixin tile-highlight {
  &::before {
    content: '';
    @include absolute-center;
    width: 70%;
    height: 70%;
    border-radius: $border-radius-full;
    background-color: $chess-highlight;
    z-index: $z-tile-highlight;
  }
}