@use './variables' as *;
@use '../foundation/variables' as *;
@use '../mixins/position' as *;
@use '../mixins/flex' as *;

@mixin tile-base {
  @include flex-center;
  width: $tile-size;
  height: $tile-size;
  position: relative;
  border-radius: 0.4rem;
  transition: background-color 0.2s ease;
}

@mixin tile-highlight {
  &::before {
    content: '';
    @include absolute-center;
    width: 70%;
    height: 70%;
    border-radius: $border-radius-full;
    background-color: $chess-highlight;
    z-index: $z-tile-highlight;
  }
}

@mixin tile-highlight-piece {
  &::before {
    content: '';
    @include absolute-center;
    width: 80%;
    height: 80%;
    border-radius: $border-radius-full;
    border: 3px solid $chess-highlight;
    z-index: $z-tile-highlight;
  }
}